html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.title-xl {
  margin-top: 15%;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}
.content {
  text-align: center;
  font-size: 1.5rem;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.imgs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.component.first-component {
  background-color: whitesmoke;
  position: relative;
}

.first-component--inside-scroller {
  position: absolute;
  right: 20px;
  top: 100px;
}

.component.second-component {
  background-color: pink;
}
