html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  margin-top: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}
.title-xl {
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}
.text {
  margin-top: 10%;
  text-align: justify;
  font-weight: bold;
  font-size: 2rem;
}
.content {
  text-align: center;
  font-size: 1.5rem;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.component.first-component {
  background-color: whitesmoke;
  position: relative;
}

.first-component--inside-scroller {
  position: absolute;
  right: 20px;
  top: 100px;
}

.component.second-component {
  background-color: pink;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 0;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
